<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <%= render partial: "users/user_panel" %>
        </div>

        <div class="panel panel-default">
            <b>科研动态</b>
            <p>
                <p>
                    <a href="http://kyc.sbs.edu.cn/html/keyandongtai/20150105/302.html"><b>我校2014年获多项省部级以上科研项目和科研获奖</b></a>
                    <br/>
                    <span> 2015-01-05</span>
                </p>
                <p>
                    <a href="http://kyc.sbs.edu.cn/html/keyandongtai/20150105/301.html"><b>我校积极推进硕士研究生联合培养工作</b></a>
                    <br/>
                    <span> 2014-12-30</span>
                 </p>
                <p>
                    <a href="/html/keyandongtai/20141224/297.html"><b>我校一项目获2015年度上海市自然科学基金项目立项</b></a>
                    <br/>
                    <span> 2014-12-22</span>
                </p>
                <p>
                    <a href="/html/keyandongtai/20141209/295.html"><b>我校四项课题获2015年度上海市教委科研创新项目立项</b></a>
                    <br/>
                    <span> 2014-12-09</span>
                </p>
                <p>
                    <a href="/html/keyandongtai/20141201/293.html"><b>我校教师受邀参加G20峰会“首届东西方对话之旅游与中国梦”分会并作专题报告</b></a>
                    <br/>
                    <span> 2014-11-22</span>
                </p>
            </p>
            <%= link_to "...更多 >>", news_path %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default text-center">
            <b><%= link_to "数据资源导航", categories_path %></b>

            <%= render partial: "categories/categories_list.html.erb", locals: {categories: Category.all.sort_by {|c| c.name}} %>
        </div>

        <div class="panel panel-default">
            <p class="text-center">数据资源动态 </p>
            <%= render partial: "documents/documents_news", locals: {docs: @documents} %>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <b>平台简介</b>
            <div>
                科研活动是高等院校中一项非常活跃的主体，科研管理信息化是高校管理信息化的重要组成部分。 <%= link_to "...更多 >>", intro_path %>
            </div>
        </div>

        <div class="panel panel-default">
            <b>用户指南</b>
            <div>
                <%= link_to "查看 >>", guide_path %>
            </div>
        </div>
    </div>
</div>

