<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">
            <table class="table">
                <tr>
                    <th> 请求时间 </th>
                    <th> 请求者 </th>
                    <th> 数据 </th>
                    <th> 操作 </th>
                </tr>
                <div style="margin-left: 26px"><%= paginate @requests %></div>
                <% @requests.each do |request| %>
                    <tr>
                        <td> <%= request.created_at %> </td>
                        <td> <%= link_to request.requester.username, request.requester %> </td>
                        <td> <%= link_to request.document.title, request.document %> </td>


                        <td>
                            <%= link_to "批准", approve_request_path(request), :class => "btn btn-primary btn-xs" %>
                            <%= link_to "删除", request_path(request), method: :delete, confirm: "确定删除此请求？", :class => "btn btn-primary btn-xs" %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div> 