<div class="col-md-6">
  <div class="row">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control"%>
    </div>
    <br />
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, :class => "form-control" %>
    </div>
    <br />
    <%= f.submit %>
  </div>
</div>