<!DOCTYPE html>
<html>
  <head>
    <title>上海商学院 数据管理系统</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= html_import_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
        <div class="row header">
            <%= render partial: "layouts/header" %>
            <!--<p class="notice"><%= notice %></p>-->
            <!--<p class="alert"><%= alert %></p>-->
        </div>

        <div class="row">
            <%= render partial: "layouts/messages" %>
        </div>

        <div class="container">
            <%= yield %>
        </div>
        <hr/>
        <p class="text-center">友情链接</p>
        <div class="row">
            <div class="col-xs-1 col-md-2">
                <a class="thumbnail" style="width=95px; height: 46px;" href='http://wk.sjtu.edu.cn/' target='_blank'><img src='http://kyc.sbs.edu.cn/uploads/flink/1402251524133614.jpg' width='95' height='46' border='0'></a>
            </div>
            <div class="col-xs-1 col-md-2">
                <a class="thumbnail" style="width=95px; height: 46px;" href='http://www.sinoss.net/' target='_blank'><img src='http://kyc.sbs.edu.cn/uploads/flink/1402251527088631.gif' width='95' height='46' border='0'></a>
            </div>
            <div class='col-xs-1 col-md-2'>
                <a class="thumbnail" style="width=95px; height: 46px;" href='http://www.npopss-cn.gov.cn/' target='_blank'><img src='http://kyc.sbs.edu.cn/uploads/flink/1402251525215015.jpg' width='95' height='46' border='0'></a>
            </div>
            <div class='col-xs-1 col-md-2'>
                <a class="thumbnail" style="width=95px; height: 46px;" href='http://www.stcsm.gov.cn/' target='_blank'><img src='http://kyc.sbs.edu.cn/uploads/flink/1402251529192164.jpg' width='95' height='46' border='0'></a>
            </div>
            <div class='col-xs-1 col-md-2'>
                <a class="thumbnail" style="width=95px; height: 46px;" href='http://www.shmec.gov.cn/' target='_blank'><img src='http://kyc.sbs.edu.cn/uploads/flink/1402251530074073.jpg' width='95' height='46' border='0'></a>
            </div>
            <div class='col-xs-1 col-md-2'>
                <a class="thumbnail" style="width=95px; height: 46px;" href='http://www.wkkyc.fudan.edu.cn/' target='_blank'><img src='http://kyc.sbs.edu.cn/uploads/flink/1402251530529630.jpg' width='95' height='46' border='0'></a>
            </div>
            <div class='col-xs-1 col-md-2'>
                <a class="thumbnail" style="width=95px; height: 46px;" href='http://www.fzzx.sh.gov.cn/' target='_blank'><img src='http://kyc.sbs.edu.cn/uploads/flink/1402251527593491.jpg' width='95' height='46' border='0'></a>
            </div>
            <div class='col-xs-1 col-md-2'>
                <a class="thumbnail" style="width=95px; height: 46px;" href='http://www.sh-popss.gov.cn/' target='_blank'><img src='http://kyc.sbs.edu.cn/uploads/flink/1402251528339543.jpg' width='95' height='46' border='0'></a>
            </div>
            </li>
            </ul>
        </div>
  </body>
</html>